@import "tailwindcss";

/* Определение переменных */
@theme {
  /* Light Theme */
  --color-background: #f9f9f9; /* Light Gray */
  --color-text: #222222; /* Dark Charcoal */
  --color-input: #ffffff; /* Pure White */
  --color-border: #dddddd; /* Soft Gray */
  --color-accent: #007aff; /* Vibrant Blue */

  /* Dark Theme */
  --color-background-dark: #1e1e1e; /* Deep Black */
  --color-text-dark: #eaeaea; /* Soft White */
  --color-input-dark: #2c2c2c; /* Dark Gray */
  --color-border-dark: #444444; /* Medium Gray */
  --color-accent-dark: #0a84ff; /* Bright Blue */
}

/* Определение основных стилей */
@layer base {
  /*************************************************/
  /* Определение классов для светлой и темной темы */
  /*************************************************/
  /* Светлая тема (по умолчанию) */
  body {
    @apply bg-background text-text border-border;
  }

  textarea {
    @apply bg-input border-border;
  }

  /* Темная тема */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-background-dark text-text-dark border-border-dark;
    }

    textarea {
      @apply bg-input-dark border-border-dark;
    }
  }
}

#app {
  @apply grid grid-rows-[50px_30vh_30vh] gap-5
    lg:mx-10 lg:mt-10 lg:mb-10 lg:rounded-3xl lg:border-2
    lg:grid-cols-2 lg:grid-rows-[70px_60vh] 
    2xl:grid-cols-5 2xl:grid-rows-[100px_30vh_30vh];
}

#site-header {
  @apply text-4xl font-bold px-3 text-center
    lg:text-5xl lg:px-6 lg:py-1.5 lg:text-left 
    2xl:text-7xl 2xl:px-8;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

textarea {
  @apply p-2 border;
}
