@import "tailwindcss";

/* Определение переменных */
@theme {
  /* Light Theme */
  --color-background: #f9f9f9; /* Light Gray */
  --color-text: #222222; /* Dark Charcoal */
  --color-input: #ffffff; /* Pure White */
  --color-border: #dddddd; /* Soft Gray */
  --color-accent: #007aff; /* Vibrant Blue */

  /* Dark Theme */
  --color-background-dark: #1e1e1e; /* Deep Black */
  --color-text-dark: #eaeaea; /* Soft White */
  --color-input-dark: #2c2c2c; /* Dark Gray */
  --color-border-dark: #444444; /* Medium Gray */
  --color-accent-dark: #0a84ff; /* Bright Blue */
}

/* Определение основных стилей */
@layer base {
  /*************************************************/
  /* Определение классов для светлой и темной темы */
  /*************************************************/
  /* Светлая тема (по умолчанию) */
  body {
    @apply bg-background text-text border-border;
  }

  textarea {
    @apply bg-input;
  }

  /* Темная тема */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-background-dark text-text-dark border-border-dark;
    }

    textarea {
      @apply bg-input-dark;
    }
  }
}

#app {
  @apply grid h-screen lg:grid-cols-2 2xl:grid-cols-5;
  grid-template-rows: 50px 1fr 1fr;
}

@media screen and (min-width: 1024px) {
  #app {
    grid-template-rows: 100px 1fr;
  }
}
